<footer>
  <div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-4 footer-navigation">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Er8BHAEvmRhlTvcPRUE5GNBgwKJUoNwc" width="350" height="250"></iframe>
    </div>
    <div class="col-sm-4 col-md-4 footer-contacts">
      <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p><span class="new-line-span">Sidi Abdelhamid Rt de Monastir</span> Sousse Tunisie</p>
      </div>
      <div><i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left" style="margin: 0"> 73 322 638 / 73 322 638</p>
      </div>
      <div><i class="fa fa-envelope footer-contacts-icon"></i>
        <p style="margin: 0"> <a href="https://stbcsoussa@gmail.com">stbcsoussa@gmail.com</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 footer-about">
      <h4>HEURES DE MAGASIN</h4>
      <p>Lundi.....: 08:00 - 15:00</p>
      <p>Mardi.....: 08:00 - 15:00</p>
      <p>Mercredi: 08:00 - 15:00</p>
      <p>Jeudi......: 08:00 - 15:00</p>
      <p>Vendredi: 08:00 - 13:00</p>
      <p>Samedi..: 08:00 - 14:00</p>
      <div class="social-links social-icons"><a routerLink="/"><i class="fa fa-facebook"></i></a><a routerLink="/"><i class="fa fa-twitter"></i></a><a routerLink="/"><i class="fa fa-linkedin"></i></a><a routerLink="/"><i class="fa fa-github"></i></a></div>
    </div>
	</div>
  </div>
  
</footer>
